* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #100e08;
}

header {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;

    background-color: transparent;
    color: #ffffff;

    width: 100%;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;

    color: white;
    padding: 1rem;
}

.logo {
    font-size: 1.25rem;
    color: #08a8dd;
    font-weight: 600;
    padding: 5px;
    border-radius: 20%;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-link {
    font-size: 1rem;
    background-color: #08a8dd;
    padding: 10px;
    border-radius: 20%;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.nav-link:hover {
    background-color: #0479a0;
    border-radius: 0%;
    transform: translateY(3px);
}

.active {
    background-color: #0479a0;
    border-radius: 0%;
}

main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content-title {
    font-weight: 100;
    color: white;
    font-size: 2rem;
}

.content-box {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.photo-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 10px;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid white;

    color: white;
    padding: 2rem;
    margin: 1rem;

    background: rgba(34, 29, 29, 0.1);
    max-height: fit-content;

    gap: 20px;
}

.content ol {
    margin-left: 1rem;
}

.content h2 {
    align-self: center;
}

table {
    margin-top: auto;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgb(27, 27, 37);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    margin: 1rem auto;
}

@media (max-width: 600px) {
    .content-box {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    footer {
        position: static;
    }
  }